* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ECEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

h1 {
    color: #00796B;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size:18px;
}

.contenedor-formularios {
    padding-top:50px;
    display: flex;
    gap: 70px;
    padding-bottom:50px;
    align-items: flex-start;
}

div.formulario {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

p {
    font-size: 22px;
    color: #37474F;
    margin-top: 20px;
    display: block;
}

span {
    font-size: 22px;
    font-weight: bold;
    color: #37474F;
    margin-bottom: 10px;
    display: block;
}

/* Estilos para los formularios */
form {
    display: flex;
    height:235px;
    flex-direction: column;
    justify-content: space-between
}

select,
textarea {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
}

textarea {
    resize: vertical;
    min-height: 60px;
    min-width: 100%;
}



/* Estilos para los botones */
button {
    background-color: #00796B;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top:auto;
}

button:hover {
    background-color: white;
    color: #00796B;
}

button:focus {
    outline: none;
}

/* Estilo específico para el botón de historial */
.boton-historial {
    margin-top: 20px;
    background-color: #00796B;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.boton-historial:hover {
    background-color: white;
    color: #00796B;
}

