<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="footer.css">
</head>
<body>
  <footer>
    <p>&copy; 2024 | UCSE | INGENIERIA EN INFORMATICA.</p>
  </footer>
</body>
</html>


<!--

para importar el header hacen un div dentro del body q va donde pondrian el header

<div id="footer"></div>

y despues usan

<script>
    async function loadFooter() {
      const response = await fetch('footer.php');
      const html = await response.text();
      document.getElementById('footer').innerHTML = html;
    }
</script>
-->