<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!--import del icono porq no enconte uno bueno-->
</head>

<body>
    <header>
        <div class="div-menu">
            <div class="container">
                <a href="/Hospital/app/client/index.php">Inicio</a>
                <li>
                    <a class="botonBarra">Servicios</a>
                    <!-- Submenú -->
                    <ul class="submenu">
                        <li><a href="#../../index.php">Equipos</a></li>
                        <li><a href="#linkreservas">Reservas</a></li>
                        <li><a href="../../pages/mantenimientos/index.php">Mantenimiento</a></li>
                    </ul>
                </li>
                <a class="botonBarra" href="#about">Acerca de</a>
            </div>

            <div class="container2">
                <i class="fas fa-bell"></i> <!-- se tiene q llamar asi si o si ns pq-->
                <a href="/Hospital/app/client/pages/auth/cerrar-sesion.php">Cerrar Sesion</a>

            </div>

        </div>
    </header>
</body>

</html>

<!--

para importar el header hacen un div dentro del body q va donde pondrian el header

<div id="header"></div>

y despues usan

<script>
    async function loadHeader() {
      const response = await fetch('../../components/header.html');
      const html = await response.text();
      document.getElementById('header').innerHTML = html;
      const link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = '../../components/header.css';
      document.head.appendChild(link);
    }

    loadHeader();
</script>
-->
