/* Estilos generales del header */
.main-header {
  background-color: #00796b; /* Color de fondo verde */
  padding: 1em;
  margin-bottom: 20px;
}

/* Contenedor del menú de navegación */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para el menú principal */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

/* Estilos para la sección derecha del header */
.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.icon-bell {
  font-size: 1.2em;
  color: transparent;  
  margin-top: -2px;
  text-shadow: 0 0 0 white;
  cursor: pointer;
}

.logout {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

/* Estilos para el submenú */
.has-submenu {
  position: relative;
}

.submenu {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100%; /* Muestra el submenú justo debajo del elemento principal */
  left: 0;
  background-color: #00796b; /* Mismo color de fondo */
  padding: 0.5em 0;
  list-style: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-width: 150px;
}

.submenu li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
}

.submenu li a:hover {
  background-color: #005f54; /* Color de fondo cuando se pasa el cursor */
}

/* Mostrar el submenú cuando se pasa el cursor por "Servicios" */
.has-submenu:hover .submenu {
  display: block;
}
